#button {
  width: 150px;
  padding: 5px;
  margin-left: 50px;
  font-size: 50px;
  background-color: black;
  color: white;
  cursor: pointer;
  transition: all 0.3s ease;
  border-radius: 0;
}
#button:hover {
  border-radius: 50px;
}
